body{
    font-weight: lighter;
}
div.google_img{
    width: 300px;
    margin: 150px auto;
}
div.form1{
    margin: -100px 350px 0px;
    width: 700px;
}
form.google{
    max-width: 600px;
    min-width: 300px;
}
input{
    width: 600px;
    border-radius: 25px;
    height: 45px;
    display: inline-block;
    
}

input:hover{
    box-shadow: 2px 2px 2px 2px rgb(156, 152, 152);
    border-style: outset;
}
input:active{
    border-radius: 25px;
    
}
li{
    list-style-type: none;
    display: inline;
    margin-left: -3px;
    padding: 10px;
    padding-top: 3px;
    box-sizing: border-box;
    font-family: serif;
    font-size: 15px;
    font-weight: normal;
    padding-left:0px
    
}
a:link{
    text-decoration: none;
    color: #5f6368;
    display: inline;
}
a:hover{
    text-decoration: underline;
   
}
.list_div{
    
    height: 40px;
    position: absolute;
    margin-right: 0px;
    margin-top: -150px;
    
    width: 90%;
}
.list_1{
    float: left;
}
.list_2{
    float: right;
}
div.footer{
position: fixed;
bottom: 0;
left: 0px;
width: 100%;
height: 43px;
background-color: rgb(240, 226, 226);
}
footer.firstfooter{
    float: left;
    padding-bottom: 4px;
    
}
footer.secondfooter{
    float: right;
    clear: right;
}
.button{
    background-color:#4285f4;
    height: 30px;
    color: white;
    border: 1px solid #4285f4;
    width: 65px;
    font-weight: bold;
    border-radius: 3px;
}
div.the_two_buttons{
    height: 100%;
    margin: 15px 308px;
    max-width: 572px;
    min-width: 200px;
}
input.button_on_fire{
    max-width: 180px;
    display: inline-block;
    border-radius: 1px;
    box-shadow: none;
    position: relative;
    left: 142px;
    border:none;
    height: 40px;
}
input.button_on_fire:hover{
    border:1px solid rgb(179, 177, 177)
}